<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue-todo-list</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="nav-bar">
      <h1 class="header">Vue todo list</h1>
    </div>

    <div id="app" class="wrapper">
      <h1>Comleted tasks №: {{ completedTaskCounter }}</h1>
      <div class="container">
        <div class="add-task-side">
          <div class="add-task-input-block">
            <input type="text" placeholder="Enter your next task!" class="input" v-model="newTask" />
            <button v-on:click="addTask(newTask)" class="btn add-btn">Add</button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="task-list-side">
          <ul class="task-list">
            <li
              class="task-list-item"
              v-for="(task, index) in tasks"
              :key="index"
            >
              <input
                v-model="task.isCompleted"
                type="checkbox"
                v-bind:id="index"
                v-bind:value="task.taskValue"
              />
              <label
                v-bind:for="index"
                v-bind:class="{ 'completed-task': task.isCompleted }"
                >{{task.taskValue}}</label
              >
              <button v-on:click="deleteTask(index)" class="btn del-btn">
                Del
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
